body
{
  background-image: url(background_image.png);
  cursor: url('curseur.cur'), pointer;
}

img
{
  max-width: 10%;
  cursor: url('curseur.cur'), pointer;
}

table
{
  margin-left: auto;
  margin-right: auto;
  position: center;
  font-family: arial;
  font-size: 200%;

}

a, a:hover, a:visited, a:active
{
  color: #000;
	text-decoration:none;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: background.mp4 repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: background.mp4 #000 no-repeat center center fixed; }
  #bgvid { display: none; }
