@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  overflow: hidden;
  background: rgba(15.224152290303376,16.0445211183819,16.17073170731706, 1);
}

canvas { width: 100%; height: 100%; outline: none; }
#container { width: 100%; height: 100%; position: absolute; }

.parent{
  position: relative;
}

.home {
  position: absolute;
  z-index: 5;
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  color: #FFFFFF;
  left: 25vw;
  width: 50vw;
}

.textHome{
  position: absolute;
  font-size: 4vw;
  color: #FFFFFF;
  left: 100px;
}

.portfolio{
  position: absolute;
  font-size: 2vw;
  color: #FFFFFF;
  top: 10vw;

}

.containerVideo{
  z-index: 7;
  position: absolute;
  top: 400px;
  left: 35vw;
  width: 400vw;
}

.video{
  position: absolute;
  width: 30vw;
  height: 20vw;
}

.navigation{
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 50px;
  bottom: 20%;
  width: 70px;
  border-radius: 10px;

  transition: width 0.5s;
  overflow-x: hidden;
}

.navigation ul
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 10%;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li.active{
  background: #1F1F1F;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
}

.navigation ul li .active a{
  background: #0F1010;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon icon-icon{
  font-size: 1.5em;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 200px 100px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  color: #FFFFFF;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2B99FF;
}

.field{
	width: 100%;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
  color: #FFFFFF;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2B99FF;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}



@media screen and (max-width: 1400px) and (min-width: 801px) {
  .portfolio {
    top: 15vw;
    font-size: 4vw;
    width: 80vw;
  }
  .video{
    top: 5vw;
    left: -20vw;
    width: 70vw;
    height: 40vw;
  }
  .home{
    font-size: 5vw;
    width: 100vw;
    left: 20vw;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .portfolio {
    top: 50vw;
    font-size: 4vw;
    width: 80vw;
  }
  .video{
    top: 20vw;
    left: -25vw;
    width: 80vw;
    height: 50vw;
  }
  .home{
    font-size: 5vw;
    width: 100vw;
    left: 20vw;
  }

  .contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media screen and (max-width: 600px) and (min-width: 501px) {
  .portfolio {
    top: 55vw;
    font-size: 4vw;
    width: 80vw;
  }
  .video{
    top: 5vw;
    left: -25vw;
    width: 80vw;
    height: 50vw;
  }
  .home{
    font-size: 5vw;
    width: 100vw;
    left: 20vw;
  }
}

@media screen and (max-width: 500px) and (min-width: 351px) {
  .portfolio {
    top: 100vw;
    font-size: 4vw;
    width: 80vw;
  }
  .video{
    top: 20vw;
    left: -25vw;
    width: 80vw;
    height: 50vw;
  }
  .home{
    font-size: 5vw;
    width: 100vw;
    left: 15vw;
  }
}

@media screen and (max-width: 350px) {
  .portfolio {
    top: 120vw;
    font-size: 4vw;
    width: 80vw;
  }
  .video{
    top: 20vw;
    left: -25vw;
    width: 80vw;
    height: 50vw;
  }
  .home{
    font-size: 5vw;
    width: 100vw;
    left: 15vw;
  }
}
